---
- name: Copy profile scripts
  copy: src=profile.d/{{ item }} dest=/home/rtorrent/.local/profile.d/{{ item }} owner=rtorrent group=rtorrent mode=0640
  with_items:
    - rt-alias.sh

- name: Copy helper scripts
  copy: src=bin/{{ item }} dest=/home/rtorrent/bin/{{ item }} owner=rtorrent group=rtorrent mode=0750
  with_items:
    - rt-throttle

- name: Install tools + build dependencies for PyroScope
  apt: name={{ item }} state=latest
  with_items:
    - git
    - subversion
    - build-essential
    - python-setuptools
    - python-pkg-resources
    - python-virtualenv
    - python-dev
    - python-pip
    - libreadline-dev
    - libsqlite3-dev
    - libxml2-dev
    - libxslt1-dev

- name: Install FFI
  apt: name={{ item }} state=latest
  when: not(ansible_distribution == "Debian") or not(ansible_distribution_major_version == "7")
  with_items:
    - python-cffi
    - libffi-dev

- name: Create PyroScope config dir
  file: path=/home/rtorrent/.pyroscope state=directory owner=rtorrent group=rtorrent mode=0750

- name: Render default configuration files (no overwrite)
  template: src="{{ item }}" dest="/home/rtorrent/.pyroscope/{{ item }}" owner=rtorrent group=rtorrent mode=0640 force=no
  with_items:
    - config.ini

- name: git clone 'pyrocore'
  shell: su -c 'git clone https://github.com/pyroscope/pyrocore.git pyroscope' rtorrent
  args:
    executable: /bin/bash
    chdir: /home/rtorrent/.local
    creates: /home/rtorrent/.local/pyroscope/.gitignore

- name: Initial 'pyroscope' installation
  shell: su -c './update-to-head.sh {{ python_bin }}' rtorrent
  args:
    executable: /bin/bash
    chdir: /home/rtorrent/.local/pyroscope
    creates: /home/rtorrent/.local/pyroscope/bin/pyroadmin

- name: Installed versions
  name: Get PyroScope & Python version
  shell: "/home/rtorrent/bin/pyroadmin --version ; /home/rtorrent/.local/pyroscope/bin/python --version 2>&1"
  changed_when: False
  register: pyro_versions
- debug: var=pyro_versions.stdout_lines

- include: cron.yml
