# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# rTorrent-PS Extended Canvas Configuration
#
# To disable these settings and define your own columns in another file,
# execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# You can also disable specific columns, by calling 'method.set_key'
# with just the key, *after* this include in your main config, like so:
#
#   method.set_key = ui.column.render, "800:3:⋉ "
#
# Afterwards, restart rTorrent.

# Provide dummy multi-methods for plain rTorrent
branch=(not, (pyro.extended)), ((method.insert, ui.column.render, multi|rlookup|static))

# Status flags (☢ ☍ ⌘ ✰)
method.set_key = ui.column.render, "100:1:☢ ",\
    ((string.map, ((cat, ((d.is_open)), ((d.is_active)))), {00, "▪"}, {01, "▪"}, {10, "╍"}, {11, "▹"}))
method.set_key = ui.column.render, "110:1:☍ ",\
    ((if, ((d.tied_to_file)), ((cat, "⚯")), ((cat, " "))))
method.set_key = ui.column.render, "120:1:⌘ ",\
    ((if, ((d.ignore_commands)), ((cat, "◌")), ((cat, "⚒"))))
method.set_key = ui.column.render, "130:1:✰ ",\
    ((string.map, ((cat, ((d.priority)))), {0, "✖"}, {1, "⇣"}, {2, " "}, {3, "⇡"}))

# Throttle name (see "_rtlocal.rc" for matching throttle definitions)
method.set_key = ui.column.render, "800:3:⋉ ",\
    ((string.map, ((d.throttle_name)), {NULL, "∞"}, {kb500, 5₀₀}, {onemb, 1M}, {lo_up, "⌅"}))

# Data size
method.set_key = ui.column.render, "900:4: ✇  ",\
    ((convert.human_size, ((d.size_bytes)) ))
