# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#                                                                                 vim: ft=dosini
# rTorrent-PS Extended Canvas Configuration
#
# To disable these settings and define your own columns in another file,
# execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Afterwards, restart rTorrent.
#
# You can also disable specific columns, by calling 'ui.column.hide'
# with just the index, *after* this include in your main config, like so:
#
#   ui.column.hide = 42
#

# Provide dummy multi-methods for plain rTorrent
branch=(not, (pyro.extended)), ((method.insert, ui.column.render, multi|rlookup|static))

# Define default columns for older rTorrent-PS builds
branch=(and, (pyro.extended), (not, (system.has, canvas_v2))), \
    ((import, rtorrent.d/05-rt-ps-columns.rc.include))

# Define custom columns for rTorrent-PS 1.1+ builds
branch=(system.has, "import.return="), \
    ((import, rtorrent.d/05-rt-ps-columns-v2.rc.include))
