# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#                                                                                 vim: ft=dosini
# Layout of paths in the filesystem

# CONFIG: Manifest constants (base layout)
method.insert = cfg.watch, string|private|const, (cat, (cfg.basedir), "watch/")
method.insert = cfg.logs,  string|private|const, (cat, (cfg.basedir), "log/")

# Set fundamental system paths
network.http.capath.set = "/etc/ssl/certs"
session.path.set        = (cat, (cfg.basedir), ".session")
directory.default.set   = (cat, (cfg.basedir), "work")
system.cwd.set          = (directory.default)

# Write a PID file into the session directory
execute.nothrow = bash, -c, (cat, "echo >",\
    (session.path), "rtorrent.pid", " ", (system.pid))

# Report major config values on startup
print = (cat, "CFG base:    ", (cfg.basedir))
print = (cat, "CFG session: ", (session.path))
