# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#                                                                                 vim: ft=dosini
# Category Definitions for:
#
#   BluRay Books Movie Music Packs TV Video WEB_DL
#
# These names are the same as in "~/etc/autolabel_rules".
#
# To disable these settings and define your own categories in the "categories.rc" file,
# execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Then restart rTorrent.


# "Other" category for empty labels
pyro.category.add = (cat,)

pyro.category.add = BluRay
schedule2 = category_watch_01, 11, 10, ((load.category.start, BluRay))

pyro.category.add = Books
schedule2 = category_watch_02, 12, 10, ((load.category.start, Books))

pyro.category.add = Movie
schedule2 = category_watch_03, 13, 10, ((load.category.start, Movie))

pyro.category.add = Music
schedule2 = category_watch_04, 14, 10, ((load.category.start, Music))

pyro.category.add = Packs
schedule2 = category_watch_05, 15, 10, ((load.category.start, Packs))

pyro.category.add = TV
schedule2 = category_watch_06, 16, 10, ((load.category.start, TV))

pyro.category.add = Video
schedule2 = category_watch_07, 17, 10, ((load.category.start, Video))

pyro.category.add = WEB_DL
schedule2 = category_watch_08, 18, 10, ((load.category.start, WEB_DL))
