# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#                                                                                 vim: ft=dosini
# CURL options regarding SSL certificates and DNS
#
# Note that newer rTorrent versions also have these commands, i.e. you can create a copy of
# this file as 'curl-options-vanilla.rc', if you want to enable these options in case you
# run a vanilla version.
#
# To altogether disable these settings, execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Then restart rTorrent.

branch=pyro.extended=,"network.http.ssl_verify_peer.set=0"
branch=pyro.extended=,"network.http.ssl_verify_host.set=0"
branch=pyro.extended=,"network.http.dns_cache_timeout.set=25"
