# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# To disable these settings, execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Then restart rTorrent.

# UI: Show traffic of the last hour
branch=(pyro.extended), ((network.history.depth.set, 112))

method.insert = network.history.auto_scale.toggle, simple|private, "branch=(network.history.auto_scale), ((network.history.auto_scale.set, 0)), ((network.history.auto_scale.set, 1))"
method.insert = network.history.auto_scale.ui_toggle, simple|private, "network.history.auto_scale.toggle= ;network.history.refresh="

branch=(pyro.extended), ((schedule2, network_history_sampling, 1, 32, "network.history.sample="))
branch=(pyro.extended), ((schedule2, bind_auto_scale, 0, 0, "ui.bind_key=download_list,=,network.history.auto_scale.ui_toggle="))
