# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# This file defines standard watch directories. If you use "pyrotorque",
# you should disable them.
#
# To disable / override these settings, execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Then restart rTorrent.

# Simple watches that load items started or closed
schedule2 = watch_start, 121, 10, ((load.start, (cat, (cfg.watch), "start/*.torrent")))
schedule2 = watch_load,  122, 10, ((load.normal, (cat, (cfg.watch), "load/*.torrent")))

# Load categorized items (sets the ruTorrent label, and define a view)
pyro.category.add = hdtv
schedule2 = watch_hdtv,  123, 10, ((load.category.normal, hdtv))

# Load item and delete the metafile from the watch dir
schedule2 = watch_cleaned, 129, 10, \
    ((load.normal, (cat, (cfg.watch), "cleaned/*.torrent"), "d.delete_tied="))
