# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! FILE IS CONTROLLED BY ANSIBLE, DO NOT CHANGE, OR ELSE YOUR CHANGES WILL BE EVENTUALLY LOST !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# To disable / override these settings, execute this command as the 'rtorrent' user:
#
#   echo >>~/rtorrent/rtorrent.d/.rcignore "{{ item }}"
#
# Then restart rTorrent.

# SCHEDULE: Monitor disk space
schedule2 = monitor_diskspace, 15, 60, ((close_low_diskspace, 1000M))
