<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <title>Pimp My Box</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    </head>
    <body>
        <h1>
            Pimp My Box
        </h1>
        <a href="https://github.com/pyroscope/pimp-my-box#pimp-my-box"
            ><img id="logo" src="img/pimp-my-box.png" /></a>
        <a href="http://pyrocore.readthedocs.org/"
            ><img id="logo2" src="img/pyroscope.png" /></a>
        <ul class="tile-menu">
            <a href="/rutorrent">
                <li class="box"><span class="label">
                    ruTorrent
                </span></li>
            </a>
            <a href="#2">
                <li class="box"><span class="label">
                    GitHub
                </span></li>
            </a>
            <a href="#3">
                <li class="box"><span class="label">
                    PyroScope
                </span></li>
            </a>
            <a href="#4">
                <li class="box"><span class="label">
                    rTorrent-PS
                </span></li>
            </a>
        </ul>

        <div class="footer">
            Copyright © 2015 PyroScope Project
        </div>
    </body>
</html>
