### rtorrent settings #######################################################
#
# This is the standard configuration that supports both PyroScope and
# (optionally) rTorrent-PS features. This file is configured for a
# rTorrent instance located in
#
#   /home/rtorrent/rtorrent (a/k/a "/var/torrent" or "(cfg.basedir)")
#
# It is installed by Ansible, but only gets overwritten when you provide the
# option "-e force_cfg=yes" to the "ansible-playbook" command, after the
# initial playbook run.
#
# For more info regarding changing configuration defaults, see the README:
#
#   https://github.com/pyroscope/pimp-my-box#changing-configuration-defaults
#
#############################################################################

# Since "network.scgi.open_local" is parsed by "rtcontrol", this must be a literal value,
# and also not moved out of the main configuration file!
network.scgi.open_local = /var/torrent/.scgi_local

# SCHEDULE: Make SCGI socket group-writable and secure
schedule = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",/var/torrent/.scgi_local"


#
# Import settings from "~/rtorrent/rtorrent.d"
#

execute = (cat,(pyro.bin_dir),pyroadmin),-q,--create-import,(cat,(cfg.basedir),"rtorrent.d/*.rc")
import = (cat,(cfg.basedir),"rtorrent.d/.import.rc")


#
# Include custom / optional settings
#

# INCLUDE: Local settings
import = (cat,(cfg.basedir),"_rtlocal.rc")

# INCLUDE: ruTorrent (optional)
try_import = (cat,(cfg.basedir),"_rutorrent.rc")

### END rtorrent.rc #########################################################
