### rtorrent settings #######################################################
#
# This is the standard configuration that supports both PyroScope and
# (optionally) rTorrent-PS features. This file is configured for a
# rTorrent instance located in
#
#       /home/rtorrent/rtorrent (a/k/a /var/torrent)
#
# It is installed by Ansible, but only gets overwritten when you provide the
# option "-e force_cfg=yes" to the "ansible-playbook" command, after the
# initial playbook run.
#
#############################################################################

# CONFIG: Manifest constants (base layout)
method.insert = cfg.basedir,    private|const|string, (cat,"/var/torrent/")
method.insert = cfg.watch,      private|const|string, (cat,(cfg.basedir),"watch/")
method.insert = cfg.logs,       private|const|string, (cat,(cfg.basedir),"log/")
method.insert = cfg.logfile,    private|const|string, (cat,(cfg.logs),"rtorrent-",(system.time),".log")

# Set "pyro.extended" to 1 to activate rTorrent-PS features!
method.insert = pyro.extended, const|value, 1

# Set "pyro.bin_dir" to the "bin" directory where you installed the pyrocore tools!
# Make sure you end it with a "/"; if this is left empty, then the shell's path is searched.
method.insert = pyro.bin_dir, const|string, ~/bin/

# Set fundamental system paths
network.http.capath.set = "/etc/ssl/certs"
session.path.set = (cat,(cfg.basedir),".session")
directory.default.set = (cat,(cfg.basedir),"work")
log.execute = (cat,(cfg.logs),"execute.log")
branch=(pyro.extended),(log.messages, (cat, (cfg.logs), messages.log))

# Report major config values
print = (cat,"CFG base=",(cfg.basedir))
print = (cat,"CFG session=",(session.path))
print = (cat,"CFG logfile=",(cfg.logfile))


#
# Environment & personal preferences (check & adapt these)
#

# general
throttle.global_up.max_rate.set_kb = {{ rt_global_up_rate_kb }}
throttle.global_down.max_rate.set_kb = {{ rt_global_down_rate_kb }}
throttle.max_uploads.set = 100
throttle.max_uploads.global.set = 250
network.http.max_open.set = 64
network.max_open_files.set = 600
network.max_open_sockets.set = 300
system.umask.set = {{ '%04o' | format(rt_system_umask) }}
keys.layout.set = {{ rt_keys_layout }}
pieces.hash.on_completion.set = no
encoding.add = utf8

# range for listening port
network.port_range.set = 64333-64666
network.port_random.set = no

# tracker-less torrent support
dht.mode.set = disable
protocol.pex.set = no
trackers.use_udp.set = no

# peer settings
throttle.min_peers.normal.set = 20
throttle.max_peers.normal.set = 60
throttle.min_peers.seed.set = 30
throttle.max_peers.seed.set = 80
trackers.numwant.set = 80
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

# resource usage
pieces.memory.max.set = {{ rt_pieces_memory }}
network.xmlrpc.size_limit.set = {{ rt_xmlrpc_size_limit }}


#
# CORE settings (mostly keep these, but still check them)
#

# since "network.scgi.open_local" is parsed by "rtcontrol", this must be a literal value!
network.scgi.open_local = /var/torrent/.scgi_local

# SCHEDULE: Make SCGI socket group-writable and secure
schedule = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",/var/torrent/.scgi_local"

# SCHEDULE: Watch disk space
schedule = low_diskspace,15,60,close_low_diskspace=1000M

# EVENT: Call bash completion handlers
method.set_key = event.download.finished, bash_handlers, "d.save_full_session= ; execute=~/bin/_event.download.finished,$d.hash=,$d.name=,$d.base_path="

# UI/VIEW: Sort "seeding" by ratio
view.sort_current = seeding,greater=d.ratio=


#
# PyroScope settings
#

# Remove the ".default" if you want to change something (else your
# changes get over-written on update).
import = ~/.pyroscope/rtorrent-pyro.rc.default

# TORQUE: Daemon watchdog schedule
# Must be activated by touching the "~/.pyroscope/run/pyrotorque" file!
# Set the second argument to "-v" or "-q" to change log verbosity.
schedule = pyro_watchdog,30,300,"pyro.watchdog=~/.pyroscope,"

# CURL options
branch=pyro.extended=,"network.http.ssl_verify_peer.set=0"
branch=pyro.extended=,"network.http.ssl_verify_host.set=0"
branch=pyro.extended=,"network.http.dns_cache_timeout.set=25"

# The following view changes rely on additional fields available with PyroScope added,
# but are a matter of preference, so you may comment them out

# UI/VIEW: Sort incomplete by date added
view.sort_current = incomplete,greater=d.custom=tm_loaded
view.sort_new     = incomplete,greater=d.custom=tm_loaded

# UI/VIEW: Show recently completed top-most in "main"
view.sort_current = main,"compare=-+,d.custom=tm_completed,d.custom=tm_loaded"
view.filter_on = main,event.download.finished

# UI/VIEW: Show active and incomplete torrents (in view #0) and update every 20 seconds
#   Items are grouped into complete, incomplete, and queued, in that order (rT-PS only).
#   Within each group, they're sorted by download and then upload speed.
branch=pyro.extended=,false=,"view.sort_current = active,greater=d.up.rate="
branch=pyro.extended=,"view.sort_current = active,\"compare=----,d.is_open=,d.complete=,d.down.rate=,d.up.rate=\""
schedule = filter_active,12,20,"view.filter = active,\"or={d.up.rate=,d.down.rate=,not=$d.complete=}\" ;view.sort=active"


#
# Include custom / optional settings
#

# INCLUDE: Local settings
import = /var/torrent/_rtlocal.rc

# INCLUDE: ruTorrent (optional)
try_import = /var/torrent/_rutorrent.rc

### END rtorrent.rc #########################################################
